@model List<Product>

<h1>Display All Products</h1>

<br/>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Image</th>
            <th>Show Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
                <td>
                    <img src="/images/@product.ImageUrl" alt="@product.Name" width="100" />
                </td>
                <td>
                    <a href="product/Details/@product.Id">Show Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>